In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/rahma/Documents/MiniProject/Investigate Hotel Business/hotel_bookings_data.csv")
data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2017,September,27,1,0,0,2,...,3,No Deposit,NaN,NaN,0,Personal,0.00,0,0,Check-Out
1,Resort Hotel,0,737,2017,September,27,1,0,0,2,...,4,No Deposit,NaN,NaN,0,Personal,0.00,0,0,Check-Out
2,Resort Hotel,0,7,2017,September,27,1,0,1,1,...,0,No Deposit,NaN,NaN,0,Personal,75.00,0,0,Check-Out
3,Resort Hotel,0,13,2017,September,27,1,0,1,1,...,0,No Deposit,304.0,NaN,0,Personal,75.00,0,0,Check-Out
4,Resort Hotel,0,14,2017,September,27,1,0,2,2,...,0,No Deposit,240.0,NaN,0,Personal,98.00,0,1,Check-Out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2019,October,35,30,2,5,2,...,0,No Deposit,394.0,NaN,0,Personal,96.14,0,0,Check-Out
119386,City Hotel,0,102,2019,October,35,31,2,5,3,...,0,No Deposit,9.0,NaN,0,Personal,225.43,0,2,Check-Out
119387,City Hotel,0,34,2019,October,35,31,2,5,2,...,0,No Deposit,9.0,NaN,0,Personal,157.71,0,4,Check-Out
119388,City Hotel,0,109,2019,October,35,31,2,5,2,...,0,No Deposit,89.0,NaN,0,Personal,104.40,0,0,Check-Out
119389,City Hotel,0,205,2019,October,35,29,2,7,2,...,0,No Deposit,9.0,NaN,0,Personal,151.20,0,2,Check-Out

# Data Preprocesing

1. Download file "Dataset"
2. Mengatasi data null (Hint: Perhatikan jumlah data null dan tipe dari setiap kolom, untuk memilih metode yang tepat.)
3. Mengganti value yang tidak sesuai (Hint: Perhatikan kolom "meal")
4. Membuang data yang tidak diperlukan (Hint: Perhatikan total jumlah tamu untuk setiap pemesanan)

Table column descriptions (https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand)
- hotel : The type of hotel (Resort Hotel and City Hotel)
- is_canceled : Indicated resevation canceled (1) or not (0)
- lead_time : Number of days that elapsed between the entering date of the booking into the PMS and the arrival date
- arrival_date_year : year of arrival date (2017-2019)
- arrival_date_month : month of arrival date
- arrival_date_week_number : week number of year for arrival date
- arrival_date_day_month : day of arrival date
- stays_in_weekend_night : number of weekend (Saturday and Sunday) the guest stayed or booked to stay at hotel
- stays_in_weekdays_night : number of weekday the guest stayed or booked to stay at hotel
- adults : number of adults
- children : number of children
- babies : number of babies
- meal : type of meal booked, Categories are presented in standard hospitality meal packages: Undefined/SC – no meal package; BB – Bed & Breakfast; HB – Half board (breakfast and one other meal – usually dinner); FB – Full board (breakfast, lunch and dinner)
- city : guest city origin 
- market_segment : Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”
- is_repeated_guest : Indicated booking name was from a repeated guest (1) or not (0)
- previous_cancelation : Number of previous bookings that were cancelled by the customer prior to the current booking
- previous_booking_not_canceled : Number of previous bookings not cancelled by the customer prior to the current booking
- booking changes : Number of changes/amendments made to the booking from the moment the booking was entered on the PMS
- deposit type : Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories: No Deposit – no deposit was made; Non Refund – a deposit was made in the value of the total stay cost; Refundable – a deposit was made with a value under the total cost of stay.
- agent : ID of the travel agency that made the booking
- company : ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons
- days_in_waiting_list : Number of days the booking was in the waiting list before it was confirmed to the customer
- customer_type : Type of booking, assuming one of four categories: Personal, Contract, Family, Business
- adr : Average Daily Rate as defined by dividing the sum of all lodging transactions by the total number of staying nights
- required_car-parking_spaces : Number of car parking spaces required by the customer
- total_of_special_request : Number of special requests made by the customer (e.g. twin bed or high floor)
- reservation_status : Reservation last status, assuming one of three categories: Canceled – booking was canceled by the customer; Check-Out – customer has checked in but already departed; No-Show – customer did not check-in and did inform the hotel of the reason why

In [3]:
#check table

for col in data :
    print(col)
    print(data[col].unique())

hotel
['Resort Hotel' 'City Hotel']
is_canceled
[0 1]
lead_time
[342 737   7  13  14   0   9  85  75  23  35  68  18  37  12  72 127  78
  48  60  77  99 118  95  96  69  45  40  15  36  43  70  16 107  47 113
  90  50  93  76   3   1  10   5  17  51  71  63  62 101   2  81 368 364
 324  79  21 109 102   4  98  92  26  73 115  86  52  29  30  33  32   8
 100  44  80  97  64  39  34  27  82  94 110 111  84  66 104  28 258 112
  65  67  55  88  54 292  83 105 280 394  24 103 366 249  22  91  11 108
 106  31  87  41 304 117  59  53  58 116  42 321  38  56  49 317   6  57
  19  25 315 123  46  89  61 312 299 130  74 298 119  20 286 136 129 124
 327 131 460 140 114 139 122 137 126 120 128 135 150 143 151 132 125 157
 147 138 156 164 346 159 160 161 333 381 149 154 297 163 314 155 323 340
 356 142 328 144 336 248 302 175 344 382 146 170 166 338 167 310 148 165
 172 171 145 121 178 305 173 152 354 347 158 185 349 183 352 177 200 192
 361 207 174 330 134 350 334 283 153 197 133 241 193 235 194 261 260 216
 169 209 238 215 141 189 187 223 284 214 202 211 168 230 203 188 232 709
 219 162 196 190 259 228 176 250 201 186 199 180 206 205 224 222 182 210
 275 212 229 218 208 191 181 179 246 255 226 288 253 252 262 236 256 234
 254 468 213 237 198 195 239 263 265 274 217 220 307 221 233 257 227 276
 225 264 311 277 204 290 266 270 294 319 282 251 322 291 269 240 271 184
 231 268 247 273 300 301 267 244 306 293 309 272 242 295 285 243 308 398
 303 245 424 279 331 281 339 434 357 325 329 278 332 343 345 360 348 367
 353 373 374 406 400 326 379 399 316 341 320 385 355 363 358 296 422 390
 335 370 376 375 397 289 542 403 383 384 359 393 337 362 365 435 386 378
 313 351 287 471 462 411 450 318 372 371 454 532 445 389 388 407 443 437
 451 391 405 412 419 420 426 433 440 429 418 447 461 605 457 475 464 482
 626 489 496 503 510 517 524 531 538 545 552 559 566 573 580 587 594 601
 608 615 622 629 396 410 395 423 408 409 448 465 387 414 476 479 467 490
 493 478 504 507 458 518 521 377 444 380 463]
arrival_date_year
[2017 2018 2019]
arrival_date_month
['September' 'October' 'November' 'December' 'January' 'February' 'March'
 'April' 'May' 'June' 'July' 'August']
arrival_date_week_number
[27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26]
arrival_date_day_of_month
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
stays_in_weekend_nights
[ 0  1  2  4  3  6 13  8  5  7 12  9 16 18 19 10 14]
stays_in_weekdays_nights
[ 0  1  2  3  4  5 10 11  8  6  7 15  9 12 33 20 14 16 21 13 30 19 24 40
 22 42 50 25 17 32 26 18 34 35 41]
adults
[ 2  1  3  4 40 26 50 27 55  0 20  6  5 10]
children
[ 0.  1.  2. 10.  3. nan]
babies
[ 0  1  2 10  9]
meal
['Breakfast' 'Full Board' 'Dinner' 'No Meal' 'Undefined']
city
['Kota Denpasar' 'Kabupaten Bangka' 'Kabupaten Sleman' 'Kota Batu'
 'Kota Malang' 'Kota Yogyakarta' nan 'Kabupaten Tangerang' 'Kota Semarang'
 'Kota Serang' 'Kota Tangerang' 'Kota Bogor' 'Kabupaten Bandung'
 'Kabupaten Magelang' 'Kabupaten Sumedang' 'Kota Jakarta Timur'
 'Kabupaten Purwakarta' 'Kabupaten Kepulauan Seribu' 'Kabupaten Belitung'
 'Kota Jakarta Pusat' 'Kota Jakarta Selatan' 'Kota Surabaya'
 'Kota Jakarta Utara' 'Kota Gorontalo' 'Kota Jambi' 'Kota Jakarta Barat'
 'Kota Bengkulu' 'Kabupaten Bandung Barat' 'Kabupaten Bekasi'
 'Kabupaten Bogor' 'Kabupaten Ciamis' 'Kabupaten Cianjur'
 'Kabupaten Cirebon' 'Kota Cimahi' 'Kabupaten Indramayu'
 'Kabupaten Karawang' 'Kabupaten Kuningan' 'Kabupaten Majalengka'
 'Kabupaten Serang' 'Kota Pangkal Pinang' 'Kabupaten Subang'
 'Kabupaten Sukabumi' 'Kabupaten Garut' 'Kabupaten Tasikmalaya'
 'Kota Bandung' 'Kota Banjar' 'Kota Bekasi' 'Kabupaten Pandeglang'
 'Kabupaten Pangandaran' 'Kota Cirebon' 'Kota Depok' 'Kota Sukabumi'
 'Kota Tasikmalaya' 'Kabupaten Banjarnegara' 'Kabupaten Banyumas'
 'Kabupaten Batang' 'Kabupaten Blora' 'Kabupaten Boyolali'
 'Kabupaten Brebes' 'Kabupaten Cilacap' 'Kabupaten Demak'
 'Kabupaten Grobogan' 'Kabupaten Jepara' 'Kabupaten Karanganyar'
 'Kabupaten Kebumen' 'Kabupaten Kendal' 'Kabupaten Klaten'
 'Kabupaten Kudus' 'Kota Kediri' 'Kabupaten Pati' 'Kabupaten Pekalongan'
 'Kabupaten Pemalang' 'Kabupaten Purbalingga' 'Kabupaten Purworejo'
 'Kabupaten Rembang' 'Kabupaten Semarang' 'Kabupaten Sragen'
 'Kabupaten Sukoharjo' 'Kabupaten Tegal' 'Kabupaten Temanggung'
 'Kabupaten Wonogiri' 'Kabupaten Wonosobo' 'Kota Magelang'
 'Kota Pekalongan' 'Kota Salatiga' 'Kabupaten Bantul' 'Kota Surakarta'
 'Kota Tegal' 'Kabupaten Bangkalan' 'Kabupaten Banyuwangi'
 'Kabupaten Blitar' 'Kabupaten Bojonegoro' 'Kabupaten Bondowoso'
 'Kabupaten Gresik' 'Kabupaten Jember' 'Kabupaten Jombang'
 'Kabupaten Kediri' 'Kabupaten Lamongan' 'Kabupaten Lumajang'
 'Kabupaten Madiun' 'Kabupaten Magetan' 'Kabupaten Kerinci'
 'Kabupaten Mojokerto' 'Kabupaten Nganjuk' 'Kabupaten Ngawi'
 'Kabupaten Pacitan' 'Kabupaten Pamekasan' 'Kabupaten Pasuruan'
 'Kabupaten Ponorogo' 'Kabupaten Probolinggo' 'Kabupaten Sampang'
 'Kabupaten Sidoarjo' 'Kabupaten Situbondo' 'Kabupaten Sumenep'
 'Kabupaten Trenggalek' 'Kabupaten Tuban' 'Kabupaten Tulungagung'
 'Kabupaten Gunung Kidul' 'Kota Blitar' 'Kota Tangerang Selatan'
 'Kota Madiun' 'Kota Cilegon' 'Kota Mojokerto' 'Kota Pasuruan'
 'Kota Probolinggo' 'Kabupaten Malang' 'Kabupaten Kapuas Hulu'
 'Kabupaten Ketapang' 'Kota Pontianak' 'Kabupaten Banjar'
 'Kabupaten Barito Kuala' 'Kota Banjarbaru' 'Kota Banjarmasin'
 'Kabupaten Kapuas' 'Kabupaten Katingan' 'Kabupaten Kotawaringin Barat'
 'Kabupaten Kotawaringin Timur' 'Kabupaten Musi Banyuasin'
 'Kabupaten Murung Raya' 'Kota Palembang' 'Kabupaten Seruyan'
 'Kabupaten Sukamara' 'Kota Palangka Raya' 'Kota Balikpapan'
 'Kota Bontang' 'Kota Samarinda' 'Kabupaten Berau' 'Kabupaten Kutai Barat'
 'Kota Tarakan' 'Kota Batam' 'Kabupaten Pesisir Barat'
 'Kabupaten Pringsewu' 'Kota Bandar Lampung' 'Kota Lampung Timur'
 'Kota Ambon' 'Kabupaten Kepulauan Aru' 'Kabupaten Maluku Barat Daya'
 'Kabupaten Maluku Tengah' 'Kabupaten Maluku Tenggara'
 'Kabupaten Maluku Tenggara Barat' 'Kabupaten Halmahera Selatan'
 'Kota Ternate' 'Kota Tidore Kepulauan' 'Kabupaten Aceh Jaya'
 'Kota Banda Aceh' 'Kota Lhokseumawe' 'Kota Sabang'
 'Kabupaten Lombok Barat' 'Kabupaten Sumbawa' 'Kota Mataram'
 'Kabupaten Flores Timur' 'Kabupaten Timor Tengah Selatan' 'Kota Jayapura'
 'Kota Bukittinggi' 'Kota Padang' 'Kabupaten Nias' 'Kota Binjai' 'Medan']
market_segment
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
distribution_channel
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
is_repeated_guest
[0 1]
previous_cancellations
[ 0  1  2  3 26 25 14  4 24 19  5 21  6 13 11]
previous_bookings_not_canceled
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 20 21 22 23 24
 25 27 28 29 30 19 26 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72]
booking_changes
[ 3  4  0  1  2  5 17  6  8  7 10 16  9 13 12 20 14 15 11 21 18]
deposit_type
['No Deposit' 'Refundable' 'Non Refund']
agent
[ nan 304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243.
 242.   3. 105.  40. 147. 306. 184.  96.   2. 127.  95. 146.   9. 177.
   6. 143. 244. 149. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.
  36.  26.  29. 258. 110.  71. 181.  88. 251. 275.  69. 248. 208. 256.
 314. 126. 281. 273. 253. 185. 330. 334. 328. 326. 321. 324. 313.  38.
 155.  68. 335. 308. 332.  94. 348. 310. 339. 375.  66. 327. 387. 298.
  91. 245. 385. 257. 393. 168. 405. 249. 315.  75. 128. 307.  11. 436.
   1. 201. 183. 223. 368. 336. 291. 464. 411. 481.  10. 154. 468. 410.
 390. 440. 495. 492. 493. 434.  57. 531. 420. 483. 526. 472. 429.  16.
 446.  34.  78. 139. 252. 270.  47. 114. 301. 193. 182. 135. 350. 195.
 352. 355. 159. 363. 384. 360. 331. 367.  64. 406. 163. 414. 333. 427.
 431. 430. 426. 438. 433. 418. 441. 282. 432.  72. 450. 180. 454. 455.
  59. 451. 254. 358. 469. 165. 467. 510. 337. 476. 502. 527. 479. 508.
 535. 302. 497. 187.  13.   7.  27.  14.  22.  17.  28.  42.  20.  19.
  45.  37.  61.  39.  21.  24.  41.  50.  30.  54.  52.  12.  44.  31.
  83.  32.  63.  60.  55.  56.  89.  87. 118.  86.  85. 210. 214. 129.
 179. 138. 174. 170. 153.  93. 151. 119.  35. 173.  58.  53. 133.  79.
 235. 192. 191. 236. 162. 215. 157. 287. 132. 234.  98.  77. 103. 107.
 262. 220. 121. 205. 378.  23. 296. 290. 229.  33. 286. 276. 425. 484.
 323. 403. 219. 394. 509. 111. 423.   4.  70.  82.  81.  74.  92.  99.
  90. 112. 117. 106. 148. 158. 144. 211. 213. 216. 232. 150. 267. 227.
 247. 278. 280. 285. 289. 269. 295. 265. 288. 122. 294. 325. 341. 344.
 346. 359. 283. 364. 370. 371.  25. 141. 391. 397. 416. 404. 299. 197.
  73. 354. 444. 408. 461. 388. 453. 459. 474. 475. 480. 449.]
company
[ nan 110. 113. 270. 178. 240. 154. 144. 307. 268.  59. 204. 312. 318.
  94. 174. 274. 195. 223. 317. 281. 118.  53. 286.  12.  47. 324. 342.
 373. 371. 383.  86.  82. 218.  88.  31. 397. 392. 405. 331. 367.  20.
  83. 416.  51. 395. 102.  34.  84. 360. 394. 457. 382. 461. 478. 386.
 112. 486. 421.   9. 308. 135. 224. 504. 269. 356. 498. 390. 513. 203.
 263. 477. 521. 169. 515. 445. 337. 251. 428. 292. 388. 130. 250. 355.
 254. 543. 531. 528.  62. 120.  42.  81. 116. 530. 103.  39.  16.  92.
  61. 501. 165. 291. 290.  43. 325. 192. 108. 200. 465. 287. 297. 490.
 482. 207. 282. 437. 225. 329. 272.  28.  77. 338.  72. 246. 319. 146.
 159. 380. 323. 511. 407. 278.  80. 403. 399.  14. 137. 343. 346. 347.
 349. 289. 351. 353.  54.  99. 358. 361. 362. 366. 372. 365. 277. 109.
 377. 379.  22. 378. 330. 364. 401. 232. 255. 384. 167. 212. 514. 391.
 400. 376. 402. 396. 302. 398.   6. 370. 369. 409. 168. 104. 408. 413.
 148.  10. 333. 419. 415. 424. 425. 423. 422. 435. 439. 442. 448. 443.
 454. 444.  52. 459. 458. 456. 460. 447. 470. 466. 484. 184. 485.  32.
 487. 491. 494. 193. 516. 496. 499.  29.  78. 520. 507. 506. 512. 126.
  64. 242. 518. 523. 539. 534. 436. 525. 541.  40. 455. 410.  45.  38.
  49.  48.  67.  68.  65.  91.  37.   8. 179. 209. 219. 221. 227. 153.
 186. 253. 202. 216. 275. 233. 280. 309. 321.  93. 316.  85. 107. 350.
 279. 334. 348. 150.  73. 385. 418. 197. 450. 452. 115.  46.  76.  96.
 100. 105. 101. 122.  11. 139. 142. 127. 143. 140. 149. 163. 160. 180.
 238. 183. 222. 185. 217. 215. 213. 237. 230. 234.  35. 245. 158. 258.
 259. 260. 411. 257. 271.  18. 106. 210. 273.  71. 284. 301. 305. 293.
 264. 311. 304. 313. 288. 320. 314. 332. 341. 352. 243. 368. 393. 132.
 220. 412. 420. 426. 417. 429. 433. 446. 357. 479. 483. 489. 229. 481.
 497. 451. 492.]
days_in_waiting_list
[  0  50  47  65 122  75 101 150 125  14  60  34 100  22 121  61  39   5
   1   8 107  43  52   2  11 142 116  13  44  97  83   4 113  18  20 185
  93 109   6  37 105 154  64  99  38  48  33  77  21  80  59  40  58  89
  53  49  69  87  91  57 111  79  98  85  63  15   3  41 224  31  56 187
 176  71  55  96 236 259 207 215 160 120  30  32  27  62  24 108 147 379
  70  35 178 330 223 174 162 391  68 193  10  76  16  28   9 165  17  25
  46   7  84 175 183  23 117  12  54  26  73  45  19  42  72  81  92  74
 167  36]
customer_type
['Personal' 'Contract' 'Family' 'Bussiness']
adr
[  0.    75.    98.   ... 266.75 209.25 157.71]
required_car_parking_spaces
[0 1 2 8 3]
total_of_special_requests
[0 1 3 2 4 5]
reservation_status
['Check-Out' 'Canceled' 'No-Show']

## Data NULL Check

theres 4 columns with missing value :
1. children : missing values means no children, will replace missing with 0
2. city : will replace by "Unknown"
3. agent : missing values mean not booking by agent, will replace missing values with 0
4. company : missing values mean not booking by company, will replace missing values with 0

In [4]:
data.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_weekdays_nights               0
adults                                 0
children                               4
babies                                 0
meal                                   0
city                                 488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
dtype: int64

In [5]:
data['children'] = data['children'].fillna(0)
data['city'] = data['city'].fillna('Unknown')
data['agent'] = data['agent'].fillna(0)
data['company'] = data['company'].fillna(0)

In [6]:
# check data after fill missing value
data.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_weekdays_nights          0
adults                            0
children                          0
babies                            0
meal                              0
city                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
dtype: int64

## Replace value
on meal column theres meal type undefined, will replace by "No Meal" because only four Categories are presented in standard hospitality meal packages.

In [7]:
print('Before:', data['meal'].unique())

data['meal'] = data['meal'].replace('Undefined','No Meal')

print('After:', data['meal'].unique())

Before: ['Breakfast' 'Full Board' 'Dinner' 'No Meal' 'Undefined']
After: ['Breakfast' 'Full Board' 'Dinner' 'No Meal']

## Fixed Type of Column
for children, agent, and company column change to string

In [8]:
data['children'] = data['children'].astype(int)
data['agent'] = data['agent'].astype(int)
data['company'] = data['company'].astype(int)

## Remove all unnecessary Data
remove data with zero guest and zero stay
- guest = adults + children + babies
- stay = stays_in_weekend + stays_in_weekday

In [9]:
print('Before :', data.shape[0],' column')

data['total_guest'] = data['adults'] + data['children'] + data['babies']
data['total_stays'] = data['stays_in_weekdays_nights'] + data['stays_in_weekend_nights']

data_pre = data[(data['total_guest']>0) & (data['total_stays']>0)].copy()

print('After  :', data_pre.shape[0],' column')
print('Remove  :', round((data.shape[0]-data_pre.shape[0])/data.shape[0]*100,2),'% Data')

Before : 119390  column
After  : 118565  column
Remove  : 0.69 % Data

In [10]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118565 entries, 2 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118565 non-null  object
 1   is_canceled                     118565 non-null  int64
 2   lead_time                       118565 non-null  int64
 3   arrival_date_year               118565 non-null  int64
 4   arrival_date_month              118565 non-null  object
 5   arrival_date_week_number        118565 non-null  int64
 6   arrival_date_day_of_month       118565 non-null  int64
 7   stays_in_weekend_nights         118565 non-null  int64
 8   stays_in_weekdays_nights        118565 non-null  int64
 9   adults                          118565 non-null  int64
 10  children                        118565 non-null  int64
 11  babies                          118565 non-null  int64
 12  meal                            118565 non-null  object
 13  city                            118565 non-null  object
 14  market_segment                  118565 non-null  object
 15  distribution_channel            118565 non-null  object
 16  is_repeated_guest               118565 non-null  int64
 17  previous_cancellations          118565 non-null  int64
 18  previous_bookings_not_canceled  118565 non-null  int64
 19  booking_changes                 118565 non-null  int64
 20  deposit_type                    118565 non-null  object
 21  agent                           118565 non-null  int64
 22  company                         118565 non-null  int64
 23  days_in_waiting_list            118565 non-null  int64
 24  customer_type                   118565 non-null  object
 25  adr                             118565 non-null  float64
 26  required_car_parking_spaces     118565 non-null  int64
 27  total_of_special_requests       118565 non-null  int64
 28  reservation_status              118565 non-null  object
 29  total_guest                     118565 non-null  int64
 30  total_stays                     118565 non-null  int64
dtypes: float64(1), int64(21), object(9)
memory usage: 28.9+ MB